.introContainer {
  align-items: center;
  margin-left: 20px;
}
.left {
  left: 0;
  background-color: hsl(339, 54%, 91%);
}
.right {
  padding: 5vw;
}
.edufunda {
  margin-top: 20px;
  margin-left: 20px;
  color: navy;
}
.introImage {
  height: 80vh;
  z-index: 4;
}
.intro {
  text-align: center;
  position: relative;
  z-index: 5;
}
