.container {
  margin: 10px;
}
.introContainer {
  position: absolute;
}
.edufunda {
  color: navy;
}
.introImage {
  z-index: 4;
}
.intro {
  text-align: center;
  position: relative;
  z-index: 5;
}
